@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
  margin: 0;
  font-family:  'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', 'sans-serif' !important;
}

.CircularProgressbar .CircularProgressbar-path{
  stroke:#499557 !important;
}

.CircularProgressbar .CircularProgressbar-text{
  fill:rgb(73, 149, 87) !important;
  font-weight: bold !important;
  font-size:30px !important;
}

button{
  font-family:  'Open Sans', 'sans-serif' !important;

}

a{
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
  cursor: default;
}

*::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  border-color: #C2C2C2;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar-track-piece {
  background-color: #F1F1F1;
}
